# Outlier Analysis
### Gavin Rolls

This notebook details the work done to a) identify outliers from the POI-only models run in the Modelling notebook and b) Understand how those locations might differ from other LSOAs

### Library Imports

In [6]:
#Basics
import pandas as pd
import geopandas as gpd
import numpy as np

#Plots and Stats
import matplotlib.pyplot as plt
import seaborn as sns

# Geometry
from shapely import wkt
from shapely.geometry import Polygon, MultiPolygon

### Data Loading

In [9]:
# London & Birmingham All Data

all_data_london = pd.read_csv("data/combined_data/lag/all_data_london_lag.csv")
all_data_bham = pd.read_csv("data/combined_data/lag/all_data_bham_lag.csv")

In [13]:
# LSOA Atlas Features

lsoa_atlas = pd.read_csv("data/lsoa_data/lsoa_atlas.csv")

lsoa_atlas.head()

# TO DO - FILTER TO LATEST YEAR IN EACH CATEGORY (NOT EVERY COLUMN IS A YEAR)

/var/folders/2b/877nyyk109x4dd8hgx4ckwl40000gn/T/ipykernel_58478/718111286.py:3: DtypeWarning: Columns (93,94,95,96,97,98,99,174,175,176,178) have mixed types. Specify dtype option on import or set low_memory=False.
  lsoa_atlas = pd.read_csv("data/lsoa_data/lsoa_atlas.csv")

,Unnamed: 0,Unnamed: 1,All Ages,All Ages.1,All Ages.2,All Ages.3,All Ages.4,All Ages.5,All Ages.6,All Ages.7,...,Median Price (£).2,Median Price (£).3,Median Price (£).4,Median Price (£).5,Sales,Sales.1,Sales.2,Sales.3,Sales.4,Sales.5
0,Codes,Names,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2009,2010,2011,2012,2013,2014
1,E01000907,Camden 001A,1519,1538,1528,1547,1593,1492,1455,1457,...,415000,355000,481250,568500,9,14,11,12,16,26
2,E01000908,Camden 001B,1547,1577,1605,1637,1629,1598,1605,1526,...,282500,335000,287500,350000,23,17,21,27,24,22
3,E01000909,Camden 001C,1600,1598,1618,1634,1610,1635,1615,1584,...,435000,1475000,1052000,1412500,11,15,19,15,16,16
4,E01000912,Camden 001D,1738,1728,1678,1707,1710,1669,1645,1618,...,500000,373000,572750,725000,17,22,17,10,10,11

In [ ]:
# POI Modelling Results

# Want to get specifically the employment (log) as those models are better - this is models (13) and (14)
# May want to consider a spatially lagged version of the POI models to see if they improve?